<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <application>
        <!-- Somente no APK debug: permite ao ADB abrir a prévia do alerta.
             A versão release mantém a Activity privada. -->
        <activity
            android:name=".IncomingCallAlertActivity"
            android:exported="true"
            tools:replace="android:exported" />
    </application>
</manifest>
